<div class="shop_container">
  <div class="shop_page">
    <div class="shop_content">
      <div class="row shop_detail">
        <div class="shop_img">
          <i class="fa fa-balance-scale"></i>
        </div>
        <div class=" shop_dsp">
          <h4 class="weui-media-box__title">中商国际一号店</h4>
          <p class="weui-media-box__desc">专营土豆、番茄等农副产品</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop_page">
    <div class="dsp">店铺好评率 98.87%</div>
    <div class="dsp row">
      <span>描述相符</span>
      <div class="row progress_bar_block">
        <div class="progress_bar">
          <div class="progress_bar_inner" style="width: 95%"></div>
        </div>
      </div>
      <div class="progress_dsp">4.8</div>
    </div>
    <div class="dsp row">
      <span>服务态度</span>
      <div class="row progress_bar_block">
        <div class="progress_bar">
          <div class="progress_bar_inner" style="width: 80%"></div>
        </div>
      </div>
      <div class="progress_dsp">4.4</div>
    </div>
    <div class="dsp row">
      <span>物流服务</span>
      <div class="row progress_bar_block">
        <div class="progress_bar">
          <div class="progress_bar_inner" style="width: 90%"></div>
        </div>
      </div>
      <div class="progress_dsp">4.6</div>
    </div>
  </div>
  <div class="page__bd">
    <div class="weui-cells__title">基础信息</div>
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          商铺法人
        </div>
        <div class="weui-cell__ft">张**</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          联系电话
        </div>
        <div class="weui-cell__ft">
          <i class="fa fa-phone"></i>
          1513666****
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          店铺地址
        </div>
        <div class="weui-cell__ft">中商二号街43号</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          资质
        </div>
        <div class="weui-cell__ft">
          <img src="<%= image_path "xb.jpg" %>" />
          已签署消保协议
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          工商业执照
          <img src="<%= image_path "yyzz.jpg" %>" />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          店铺二维码
          <div class="qrcode">
            <img src="<%= image_path "qrcode.jpg" %>" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page__bd">
    <div class="weui-cells__title">
      <div class="roll_bottom">发表评论</div>
      评论
    </div>
    <div class="comments">
      <div class="comment row">
        <div class="avator col-xs-2">
          <i class="fa fa-user-circle "></i>
        </div>
        <div class="message col-xs-10">
          <p class="name">匿名用户</p>
          <p class="content">五星级店铺，态度热情，服务周到。</p>
        </div>
      </div>
      <div class="comment row">
        <div class="avator col-xs-2">
          <i class="fa fa-user-circle "></i>
        </div>
        <div class="message col-xs-10">
          <p class="name">匿名用户</p>
          <p class="content">五星级店铺，态度热情，服务周到。五星级店铺，态度热情，服务周到。五星级店铺，态度热情，服务周到。五星级店铺，态度热情，服务周到。</p>
        </div>
      </div>
      <div class="comment row">
        <div class="avator col-xs-2">
          <i class="fa fa-user-circle "></i>
        </div>
        <div class="message col-xs-10">
          <p class="name">匿名用户</p>
          <p class="content">五星级店铺，态度热情，服务周到。</p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="input_content row">
    <textarea rows="5"></textarea>
    <div class="btn btn-primary">提交</div>
  </div>
  
  <div class="footer"></div>
</div>