

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<form onsubmit="return false" >
<div id="root"></div>
<div id="foot"></div>

<%#= javascript_pack_tag "todolist/index" %>
<%= javascript_pack_tag "reddit/index" %>
<%#= javascript_pack_tag "hello_react" %>
