<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%#= react_component("HelloWorld", { greeting: "Hello", prerender: true },) %>
<%#= react_component("welcome/Hello_World",  { greeting: "Hello", prerender: true },) %>
<%#= react_component("react_router/modal_gallery",  { location: "window.location", prerender: true },) %>

<%= react_component("todolist/index",  {  prerender: true },) %>
