<div class="wrapper">
  <p></p>
  <h1> 网站建设中, 敬请期待。。。测试版</h1>
  <h1><a href="<%= m_pays_path %>">demo</a></h1>
  <h1><a href="<%= m_root_path %>">入口</a></h1>
</div>
<%#= @user_info["openid"] %>
<%= @user_info  %>
<%= @result %>
<%#= react_component("HelloWorld", { greeting: "Hello", prerender: true },) %>
<%#= react_component("react_router/modal_gallery",  { location: "window.location", prerender: true },) %>
<%#= react_component("todolist/index",  {  prerender: true },) %>
