<div class="service_container">
  <%#= image_tag "service.png" %>
  <div class="phone">
    <i class="fa fa-headphones huge"></i>
    <p>
      <i class="fa fa-male"></i>联系人:
      <em>张经理</em>
    </p>
    <p>
      <i class="fa fa-phone"></i>联系电话:
      <em><a href="tel:+18736500325‬">187 3650 0325‬</a></em>
    </p>
  </div>
  
</div>