<div class="mobile_container">
  
  <div class="device_icon">
    <h3>垃圾回收设备 编码2</h3>
    <i class="fa fa-download "></i>
  </div>
  <%= form_tag recived_binding_m_pays_path, method: :post do %>
    <%= submit_tag "开启", :class => "weui-btn weui-btn_primary" %>
  <% end %>
</div>