<div class="mobile_container">
  <div class="head ">
      <div class="avatar">
          <img src="<%#= current_user.wechat_account.head_img_url %>" id="avatar_id">
      </div>
      <p><%#= current_user.wechat_account.name %>的数据中心</p>
  </div>
  <div class="session">
      <p>服务</p>
  </div>
  <div class="weui-grids">
    <a href="<%=  %>" class="weui-grid">
        <div class="weui-grid__icon" style="color: green;">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
        </div>
        <p class="weui-grid__label">查询费用</p>
    </a>
    <a href="<%= check_m_pays_path %>" class="weui-grid">
        <div class="weui-grid__icon" style="color: red;">
            
            <i class="fa fa-tint" aria-hidden="true"></i>
        </div>
        <p class="weui-grid__label">支付费用</p>
    </a>
    <a href=" <%=  %> " class="weui-grid">
        <div class="weui-grid__icon" style="color: red;">
            <i class="fa fa-history" aria-hidden="true"></i>
        </div>
        <p class="weui-grid__label">支付记录</p>
    </a>
  </div>    
  <div class="footer">
      <p>@Inner Wall</p>
  </div>
</div>