
$gray_color: #1d9d74;

.container {margin: 0px;padding: 0px;}
a:link { text-decoration: none; } 
.mobile_container {
  background-color: #EFEFF4;

  .head {
    background-color: $gray_color;
    height: 150px;
    .avatar {
      overflow: hidden;
      text-align: center;
      padding-top: 15px;
      img {
        height: 80px;
        border-radius: 40px;
      }
    }
    p {
      text-align: center;
      color: black;
    }
  }

  .session {
    background-color: #eeeeee;
    padding-left: 20px;
    padding-top: 10px;
    p {
      color: gray;
    }
  }

  .weui_grid_icon {
    text-align: center;
    i {
      font-size: 28px;
    }
  }
  
  .footer {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    color: #bbbbbb;
  }
}

.zs_container {
  .zs_head {
    background-color: $gray_color;
    height: 200px;
    img {
        height: 200px;
        width: 100%;
      }
  }
  .weui-panel {
    .weui-panel__hd {
      i {
        font-size: 16px;
      }
      .star_show {
        color: rgb(255, 234, 0)
      }
    }
    
    .box_bottom_left {
      border-top:1px solid gray;
      padding-left: 30px;
    }
    .head_show {
      color: rgb(6, 180, 6);
      font-size: 50px;
    }
  }

  .shop_page {
    background-color: white;
    margin-top: 10px;
    border-bottom:solid rgb(187, 183, 183) 1px;
    a {
      text-decoration:none;
    }
    .page_title {
      padding: 5px;
      font-size: 14px;
      .star_show {
        color: rgb(255, 234, 0)
      }
    }
    .shop_content {
      border-top:solid rgb(187, 183, 183) 1px;
      margin: 0px 10px 0px 10px;
      
      .shop_detail {
        border-bottom:solid rgb(187, 183, 183) 1px;
        padding: 10px 0px 10px 0px;
        .shop_img {
          float: left;
          padding: 10px;
          i {
            color: rgb(6, 180, 6);
            font-size: 50px;
          }
        }
      }
      .shop_bottom {
        text-align: center;
        padding: 10px;
        .shop_left {
          // border-top:solid rgb(187, 183, 183) 1px;
          border-right: solid rgb(187, 183, 183) 1px;
        }
        p {
          margin: 0px;
          color: blue;
        }
      }
    }
  }
  
}

.shop_container {
  background-color: #EFEFF4;
  .shop_page {
    background-color: white;
    margin-top: 10px;
    padding-bottom: 5px;
    // border-bottom:solid rgb(187, 183, 183) 1px;
    .shop_content {
      margin: 0px 10px 0px 10px;
      .shop_detail {
        // border-bottom:solid rgb(187, 183, 183) 1px;
        padding: 10px 0px 10px 0px;
        .shop_img {
          float: left;
          padding: 10px;
          i {
            color: rgb(6, 180, 6);
            font-size: 50px;
          }
        }
      }
      
    }
    .dsp {
      padding-top: 5px;
      padding-left: 10px;
      color: rgba(0, 0, 0, .65);
      span {
        float: left;
      }
      .progress_bar_block {
        padding: 7px 0px 0px 10px;
        width: 50%;
        float: left;
        .progress_bar {
          float: left;
          width: 100%;
          height: 10px;
          background-color:  #EFEFF4;
          border-radius: 10px;
          overflow: hidden;
          .progress_bar_inner {
            height: 10px;
            border-radius: 10px;
            background-color: red;
          }
        }
      }

      .progress_dsp {
        color: red;
        padding-left: 10px;
        float: left;
      }
      
    }
  }
  .weui-cell__bd {
    color: rgba(0, 0, 0, .65);
    font-size: 16px;
    img {
      width: 100%;
    }
    .qrcode {
      text-align: center;
      img {
        padding-top: 10px;
        width: 50%;
      }
      
    }
  }
  .weui-cell__ft {
    img {
      height: 20px;
    }
  }
  .page__bd {
    .roll_bottom {
      float: right;
      color: rgb(114, 114, 243);
    }
    .comments {
      background-color: white;
      
      .avator {
        text-align: center;
        font-size: 35px;
        width: 50px;
        float: left;
      }
      .comment {
        padding-top: 10px;
        .message {
          float: left;
          .content {
            color: rgba(0, 0, 0, .65);
          }
        }
      }
    }
  }
  .footer {
    height: 50px;
    background-color: #EFEFF4;
  }
}

.exam_timer_container {
  .time_area {
    height: 200px;
    .time_title {
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
    }

    .time_show {
      text-align: center;
      font-size: 40px;
    }
    .time_btn {
      text-align: center;
    }
    .time_test {
      text-align: center;
    }
  }

  .content {
    .current_time {
      padding-right: 10px;
    }
    .weui_cell_ft {
      width: 25%;
      input {
        width: 20%;
        text-align: right;
      }
      &.cell_error {
        padding-left: 10px;
        padding-bottom: 1px;
      }
    }
  }
  
  .button_sp_area {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      width: 50%;
    }
  }
}
.blog_container {
  padding: 20px 10px 20px 10px;
}




