<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"> &copy; liangqi @ 2018</div>
        <div class="col-lg-7">
          <div class="links">
            <a href="">关于</a>
          </div>
        </div>
        <div class="pull-right">
          fatemeet.com
        </div>
      </div>
    </div>
  </div>