<footer class="navbar-fixed-bottom">
  <div class="row">
    <div class="col-sm-7">
      &copy; www.zhaoxnykj.com @ 2018 南阳朝夕科技有限公司
    </div>
    <div class="col-sm-5">
      <em>备案号：<a href="http://www.miitbeian.gov.cn">留白 <- 此留白可点击</a></em>
      <em>备案订单号：
        <a href="http://www.miitbeian.gov.cn">2012231876504
      </em>
      <em>备案服务号
        <a href="http://www.miitbeian.gov.cn">bee8f754-ad8e-4daf-ad15-9c25de055bf7
      </em>
      <div class="links">
        <!-- <a href="">关于</a> -->
      </div>
    </div>
    
  </div>
</footer>