<footer class="navbar-fixed-bottom">
  <div class="row">
    <div class="pull-right">
      www.zhaoxnykj.com
    </div>
    <div class="col-lg-3">
      &copy; www.zhaoxnykj.com @ 2018 南阳朝夕科技有限公司
      <em>备案号：<a>留白</a></em>
    </div>
    <div class="col-lg-7">
      <div class="links">
        <!-- <a href="">关于</a> -->
      </div>
    </div>
    
  </div>
</footer>